/HashSet/cmake-build-debug/
/SetIterator/cmake-build-debug/
/HashPerson/cmake-build-debug/
/SecondIndex/cmake-build-debug/
/Spendings/cmake-build-debug/
/StatsAggregator/cmake-build-debug/
/Collide/cmake-build-debug/
/CommentServer/cmake-build-debug/
/.idea/.name
/.idea/misc.xml
/.idea/vcs.xml
/.idea/workspace.xml
